# Never commit Apple proprietary artifacts pulled from the device.
# (Our own shader source/disassembly and non-copyrightable data traces are fine — add explicitly.)
*.metallib
*.dylib
*.kext/
*.air
scratch/
__pycache__/
*.pyc
